In [473]:
import pandas as pd
import random

In [203]:
data = pd.read_csv('fa23_ps2_data_source.csv') 
data.head(5)

,Question Stem Id,Question Item Id,Demographic Category,Demographic Value,Undergrad Grad,Question Response,Count,Question Item,Question Stem,Demographic Value Total,"Demographic Value Total, by Undergrad Grad",Question Stem Total,Question Item Total
0,CALPERFORM_AWARE_1,CALPERFORM_AWARE_1,Undergrad Grad,G,G,"I am familiar with this offering, but have not...",96,NaN,Illuminations (connecting UC Berkeley scholars...,2133,2133,9134,9134
1,CALPERFORM_AWARE_1,CALPERFORM_AWARE_1,Undergrad Grad,G,G,I am not familiar with this offering.,1997,NaN,Illuminations (connecting UC Berkeley scholars...,2133,2133,9134,9134
2,CALPERFORM_AWARE_1,CALPERFORM_AWARE_1,Undergrad Grad,G,G,I have participated.,40,NaN,Illuminations (connecting UC Berkeley scholars...,2133,2133,9134,9134
3,CALPERFORM_AWARE_1,CALPERFORM_AWARE_1,Undergrad Grad,U,U,"I am familiar with this offering, but have not...",613,NaN,Illuminations (connecting UC Berkeley scholars...,7001,7001,9134,9134
4,CALPERFORM_AWARE_1,CALPERFORM_AWARE_1,Undergrad Grad,U,U,I am not familiar with this offering.,6212,NaN,Illuminations (connecting UC Berkeley scholars...,7001,7001,9134,9134

In [204]:
data['Demographic Category'].unique()

array(['Undergrad Grad', 'Derived Residency Desc', 'Entry Status Desc',
       'Ucb Level1 Ethnic Rollup Desc', 'Ucb Level2 Ethnic Rollup Desc',
       'Low-income Status', 'First Gen College', 'Person Gender Desc',
       'Reporting College', 'Multiple Ethnicities'], dtype=object)

In [240]:
data['Question Stem Id'].unique()

array(['CALPERFORM_AWARE_1', 'CALPERFORM_AWARE_2', 'CALPERFORM_AWARE_3',
       'CALPERFORM_AWARE_4', 'CALPERFORM_AWARE_5', 'CALPERFORM_AWARE_6',
       'CHATGPT_INCOURSE', 'CHATGPT_OUTCOURSE', 'CHATGPT_UNDERSTAND',
       'CHATGPT_LEARN_USEFUL', 'CHATGPT_IMPACT', 'CHATGPT_POLICY',
       'CHATGPT_CLEAR', 'CHATGPT_REASONABLE', 'CHATGPT_UNREASONABLE',
       'CHATGPT_SECRET', 'CHATGPT_PEER', 'CHATGPT_SELF', 'HOUSING_1',
       'HOUSING_2', 'STUDENT_ORGS_BELONG', 'STUDENT_ORGS_WHY_JOIN',
       'STUDENT_ORGS_BARRIERS', 'CALPERFORM_OBSTACLES', 'CHATGPT_USES',
       'CHATGPT_PARTICIPATE'], dtype=object)

&nbsp;
## **COUNTS**

In [315]:
# CHANGE TO WHATEVER QUESTION YOU WANT TO CHECK #

question_stem = 'CHATGPT_PARTICIPATE'

# CHANGE TO WHATEVER QUESTION YOU WANT TO CHECK #

&nbsp;
#### GENERAL TOTAL

In [316]:
# get question item total, question stem, question item, and stem/item ids 
totals = data[['Question Stem Id', 'Question Item Id', 'Question Stem', 'Question Item', 'Question Response', 'Count']]
totals = totals.loc[data['Demographic Category'] == 'Undergrad Grad'].drop_duplicates(ignore_index = True)

In [317]:
totals = totals[totals['Question Item Id'].str.contains(question_stem, case=False)]

# for rows with the same item_id and question response, consolidate into one row by adding the counts 
total = totals.groupby(['Question Item Id', 'Question Response', ]).sum('Count')
total.head(2)

                                                                Count
Question Item Id      Question Response
CHATGPT_PARTICIPATE_1 A one- or two-unit course                  4879
CHATGPT_PARTICIPATE_4 An online training module not for credit   2929

&nbsp;
#### UG COUNTS

In [318]:
ugtotals = data[['Question Stem Id', 'Question Item Id', 'Question Stem', 'Question Item', 'Question Response', 'Count', 'Undergrad Grad']]
ugtotals = ugtotals.loc[data['Demographic Category'] == 'Undergrad Grad'].drop_duplicates(ignore_index = True)

In [319]:
ugtotals = ugtotals[ugtotals['Question Item Id'].str.contains(question_stem, case=False)]

ugtotal = ugtotals.groupby(['Question Item Id', 'Question Response', 'Undergrad Grad']).sum()
ugtotal.head(5)

                                                                                  Count
Question Item Id      Question Response                           Undergrad Grad
CHATGPT_PARTICIPATE_1 A one- or two-unit course                   G                 810
                                                                  U                4069
CHATGPT_PARTICIPATE_4 An online training module not for credit    G                 933
                                                                  U                1996
CHATGPT_PARTICIPATE_5 A workshop or lecture series not for credit G                1002

&nbsp;
#### ITEM TOTAL

In [320]:
allitemtotal = data[data['Question Item Id'].str.contains(question_stem, case=False)]
allitemtotal.head(2)

,Question Stem Id,Question Item Id,Demographic Category,Demographic Value,Undergrad Grad,Question Response,Count,Question Item,Question Stem,Demographic Value Total,"Demographic Value Total, by Undergrad Grad",Question Stem Total,Question Item Total
24824,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Reporting College,Berkeley School of Education,G,A one- or two-unit course,8,A one- or two-unit course,Which of the follow options for learning about...,25,25,8490,4916
24825,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Reporting College,Berkeley School of Education,U,A one- or two-unit course,0,A one- or two-unit course,Which of the follow options for learning about...,25,-1,8490,4916

In [329]:
itemtotal = allitemtotal[['Question Item Id', 'Question Item Total']]
itemtotal = itemtotal.loc[data['Demographic Category'] == 'Undergrad Grad'].drop_duplicates(ignore_index=True)
itemtotal.head(2)

        Question Item Id  Question Item Total
0  CHATGPT_PARTICIPATE_1                 4879
1  CHATGPT_PARTICIPATE_4                 2929

In [330]:
stemtotal = allitemtotal[['Question Item Id', 'Question Stem Total']]
stemtotal = stemtotal.loc[data['Demographic Category'] == 'Undergrad Grad'].drop_duplicates(ignore_index=True)
stemtotal.head(2)

        Question Item Id  Question Stem Total
0  CHATGPT_PARTICIPATE_1                 8425
1  CHATGPT_PARTICIPATE_4                 8425

In [322]:
itemtotal_ug = allitemtotal[['Question Item Id', 'Undergrad Grad', 'Demographic Value Total, by Undergrad Grad']]
itemtotal_ug = allitemtotal.loc[data['Demographic Category'] == 'Undergrad Grad']
itemtotal_ug = itemtotal_ug[['Question Item Id', 'Undergrad Grad', 'Demographic Value Total, by Undergrad Grad']].drop_duplicates(ignore_index=True)
itemtotal_ug.head(2)

,Question Item Id,Undergrad Grad,"Demographic Value Total, by Undergrad Grad"
0,CHATGPT_PARTICIPATE_1,G,1933
1,CHATGPT_PARTICIPATE_1,U,6492

&nbsp;
#### **TOTAL DFS WITH PERCENTAGES**

In [333]:
# if question is select all that apply, True 
# else, False 

selectallthatapply = True 

if selectallthatapply: 
    alltotal = pd.merge(stemtotal, total.reset_index(), on=['Question Item Id'], how='inner')
    alltotal['Percentage (%)'] = ((alltotal['Count'] / alltotal['Question Stem Total']) * 100).round(2)

    reorder = ['Question Item Id', 'Question Response', 'Count', 'Question Stem Total', 'Percentage (%)']
    alltotal = alltotal[reorder]
    
else: 
    alltotal = pd.merge(itemtotal, total.reset_index(), on=['Question Item Id'], how='inner')
    alltotal['Percentage (%)'] = ((alltotal['Count'] / alltotal['Question Item Total']) * 100).round(2)

    reorder = ['Question Item Id', 'Question Response', 'Count', 'Question Item Total', 'Percentage (%)']
    alltotal = alltotal[reorder]

In [334]:
alltotal.head(10)

,Question Item Id,Question Response,Count,Question Stem Total,Percentage (%)
0,CHATGPT_PARTICIPATE_1,A one- or two-unit course,4879,8425,57.91
1,CHATGPT_PARTICIPATE_4,An online training module not for credit,2929,8425,34.77
2,CHATGPT_PARTICIPATE_5,A workshop or lecture series not for credit,3094,8425,36.72
3,CHATGPT_PARTICIPATE_6,Other (please specify),486,8425,5.77

In [335]:
alltotal_ug = pd.merge(ugtotal.reset_index(), itemtotal_ug, on=['Question Item Id', 'Undergrad Grad'], how='inner')
alltotal_ug['Percentage (%)'] = ((alltotal_ug['Count'] / alltotal_ug['Demographic Value Total, by Undergrad Grad']) * 100).round(2)

In [336]:
alltotal_ug.head(10)

,Question Item Id,Question Response,Undergrad Grad,Count,"Demographic Value Total, by Undergrad Grad",Percentage (%)
0,CHATGPT_PARTICIPATE_1,A one- or two-unit course,G,810,1933,41.90
1,CHATGPT_PARTICIPATE_1,A one- or two-unit course,U,4069,6492,62.68
2,CHATGPT_PARTICIPATE_4,An online training module not for credit,G,933,1933,48.27
3,CHATGPT_PARTICIPATE_4,An online training module not for credit,U,1996,6492,30.75
4,CHATGPT_PARTICIPATE_5,A workshop or lecture series not for credit,G,1002,1933,51.84
5,CHATGPT_PARTICIPATE_5,A workshop or lecture series not for credit,U,2092,6492,32.22
6,CHATGPT_PARTICIPATE_6,Other (please specify),G,93,1933,4.81
7,CHATGPT_PARTICIPATE_6,Other (please specify),U,393,6492,6.05

&nbsp;
## **GENDER IDENTITY**

In [337]:
# CHANGE TO WHATEVER QUESTION YOU WANT TO CHECK #

question_stem = 'CHATGPT_PARTICIPATE'

# CHANGE TO WHATEVER QUESTION YOU WANT TO CHECK #

&nbsp;
#### UNDERGRADUATE/GRADUATE

In [338]:
uggender = data[['Question Stem Id', 'Question Item Id', 'Question Stem', 'Question Item', 'Question Response', 'Count', 'Undergrad Grad', 'Demographic Value', 'Demographic Category']].drop_duplicates(ignore_index = True)
uggender = uggender.loc[uggender['Demographic Category'] == 'Person Gender Desc']
uggender = uggender[uggender['Question Item Id'].str.contains(question_stem, case=False)].reset_index(drop = True)

In [339]:
split_gender = uggender.groupby(['Question Item Id', 'Question Item', 'Question Response', 'Undergrad Grad', 'Demographic Value']).sum()

In [340]:
split_gender.head(15)

                                                                                                                                                      Count
Question Item Id      Question Item                            Question Response                        Undergrad Grad Demographic Value
CHATGPT_PARTICIPATE_1 A one- or two-unit course                A one- or two-unit course                G              Decline to State                  10
                                                                                                                       Man                              445
                                                                                                                       Nonbinary                          6
                                                                                                                       Woman                            349
                                                                                                        U              Decline to State                  96
                                                                                                                       Different Identity                 9
                                                                                                                       Man                             1652
                                                                                                                       Nonbinary                         63
                                                                                                                       Transgender Man/Trans Man         12
                                                                                                                       Transgender Woman/Trans Woman     -1
                                                                                                                       Woman                           2234
CHATGPT_PARTICIPATE_4 An online training module not for credit An online training module not for credit G              Decline to State                  14
                                                                                                                       Man                              412
                                                                                                                       Nonbinary                          6
                                                                                                                       Woman                            501

&nbsp;
#### ALL RESPONDENTS

In [341]:
gender = data[['Question Stem Id', 'Question Item Id', 'Question Stem', 'Question Item', 'Question Response', 'Count', 'Demographic Value', 'Demographic Category']].drop_duplicates(ignore_index = True)
gender = gender.loc[gender['Demographic Category'] == 'Person Gender Desc']
gender = gender[gender['Question Item Id'].str.contains(question_stem, case=False)].reset_index(drop = True)

In [342]:
# change values for all respondents option 
# Transgender Woman/Trans Woman + Woman --> Woman 
# Transgender Man/Trans Man + Man --> Man 
# Nonbinary + Different Identity --> Nonbinary

In [343]:
gender['Demographic Value'].replace('Transgender Woman/Trans Woman', 'Woman', inplace=True)
gender['Demographic Value'].replace('Transgender Man/Trans Man', 'Man', inplace=True)
gender['Demographic Value'].replace('Different Identity', 'Nonbinary', inplace=True)
gender.head(5)

,Question Stem Id,Question Item Id,Question Stem,Question Item,Question Response,Count,Demographic Value,Demographic Category
0,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Which of the follow options for learning about...,A one- or two-unit course,A one- or two-unit course,10,Decline to State,Person Gender Desc
1,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Which of the follow options for learning about...,A one- or two-unit course,A one- or two-unit course,96,Decline to State,Person Gender Desc
2,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Which of the follow options for learning about...,A one- or two-unit course,A one- or two-unit course,9,Nonbinary,Person Gender Desc
3,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Which of the follow options for learning about...,A one- or two-unit course,A one- or two-unit course,445,Man,Person Gender Desc
4,CHATGPT_PARTICIPATE,CHATGPT_PARTICIPATE_1,Which of the follow options for learning about...,A one- or two-unit course,A one- or two-unit course,1652,Man,Person Gender Desc

In [344]:
split_allgender = gender.groupby(['Question Item Id', 'Question Item', 'Question Response', 'Demographic Value']).sum()

In [345]:
split_allgender
# counts that are off by 1 might be because the value -1 was added to the count (check the uggender table to confirm)
# -1 counts happen when the total counts are < 11 for a demo value

                                                                                                                                 Count
Question Item Id      Question Item                               Question Response                           Demographic Value
CHATGPT_PARTICIPATE_1 A one- or two-unit course                   A one- or two-unit course                   Decline to State     106
                                                                                                              Man                 2109
                                                                                                              Nonbinary             78
                                                                                                              Woman               2582
CHATGPT_PARTICIPATE_4 An online training module not for credit    An online training module not for credit    Decline to State      55
                                                                                                              Man                 1102
                                                                                                              Nonbinary             51
                                                                                                              Woman               1720
CHATGPT_PARTICIPATE_5 A workshop or lecture series not for credit A workshop or lecture series not for credit Decline to State      54
                                                                                                              Man                 1203
                                                                                                              Nonbinary             58
                                                                                                              Woman               1777
CHATGPT_PARTICIPATE_6 Other (please specify)                      Other (please specify)                      Decline to State       6
                                                                                                              Man                  187
                                                                                                              Nonbinary             16
                                                                                                              Woman                276

&nbsp;
## **OTHER DEMOGRAPHIC SPOT CHECK**

In [400]:
# CHANGE TO WHATEVER QUESTION/DEMOGRAPHIC CATEGORY YOU WANT TO CHECK #

demo_cat = 'Ucb Level1 Ethnic Rollup Desc'
question_stem = 'CHATGPT_UNDERSTAND'

# CHANGE TO WHATEVER QUESTION/DEMOGRAPHIC CATEGORY YOU WANT TO CHECK #

In [401]:
demototals = data.copy()
demototals = demototals.loc[data['Demographic Category'] == demo_cat].drop_duplicates(ignore_index = True)
demototals = demototals[demototals['Question Item Id'].str.contains(question_stem, case=False)]

In [402]:
democounts = demototals.groupby(['Question Item Id', 'Demographic Value', 'Question Response']).agg({'Count': ['sum']})
democounts

                                                               Count
                                                                 sum
Question Item Id   Demographic Value         Question Response
CHATGPT_UNDERSTAND Asian                     Agree              1766
                                             Disagree            504
                                             I'm not sure        386
                                             Strongly Disagree   138
                                             Strongly agree      428
                   International             Agree               821
                                             Disagree            142
                                             I'm not sure        192
                                             Strongly Disagree    58
                                             Strongly agree      280
                   Underrepresented Minority Agree              1074
                                             Disagree            395
                                             I'm not sure        403
                                             Strongly Disagree   213
                                             Strongly agree      260
                   White/Other               Agree              1075
                                             Disagree            386
                                             I'm not sure        181
                                             Strongly Disagree   119
                                             Strongly agree      347

In [420]:
demoitemtotal = demototals[['Question Item Id', 'Demographic Value', 'Demographic Value Total']].drop_duplicates(ignore_index = True)

In [461]:
demoitemtotal

     Question Item Id          Demographic Value  Demographic Value Total
0  CHATGPT_UNDERSTAND                      Asian                     3222
1  CHATGPT_UNDERSTAND              International                     1493
2  CHATGPT_UNDERSTAND  Underrepresented Minority                     2345
3  CHATGPT_UNDERSTAND                White/Other                     2108

In [471]:
demoall = pd.merge(democounts.reset_index(), demoitemtotal, on=['Question Item Id', 'Demographic Value'], how='inner')
demoall.rename(columns={('Question Item Id', ''): "Question Item Id", ('Demographic Value', ''): "Demographic Value", ('Question Response', ''): "Question Response", ('Count', 'sum'): "Count"}, inplace=True)
demoall['Percentage (%)'] = ((demoall['Count'] / demoall['Demographic Value Total']) * 100).round(2)
demoall = demoall.loc[:,~demoall.columns.duplicated()]
demoall

/var/folders/4p/hk2kpwld0sd7079v5yqmhzv00000gn/T/ipykernel_2065/2183304443.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  demoall = pd.merge(democounts.reset_index(), demoitemtotal, on=['Question Item Id', 'Demographic Value'], how='inner')

,Question Item Id,Demographic Value,Question Response,Count,Demographic Value Total,Percentage (%)
0,CHATGPT_UNDERSTAND,Asian,Agree,1766,3222,54.81
1,CHATGPT_UNDERSTAND,Asian,Disagree,504,3222,15.64
2,CHATGPT_UNDERSTAND,Asian,I'm not sure,386,3222,11.98
3,CHATGPT_UNDERSTAND,Asian,Strongly Disagree,138,3222,4.28
4,CHATGPT_UNDERSTAND,Asian,Strongly agree,428,3222,13.28
5,CHATGPT_UNDERSTAND,International,Agree,821,1493,54.99
6,CHATGPT_UNDERSTAND,International,Disagree,142,1493,9.51
7,CHATGPT_UNDERSTAND,International,I'm not sure,192,1493,12.86
8,CHATGPT_UNDERSTAND,International,Strongly Disagree,58,1493,3.88
9,CHATGPT_UNDERSTAND,International,Strongly agree,280,1493,18.75
10,CHATGPT_UNDERSTAND,Underrepresented Minority,Agree,1074,2345,45.80
11,CHATGPT_UNDERSTAND,Underrepresented Minority,Disagree,395,2345,16.84
12,CHATGPT_UNDERSTAND,Underrepresented Minority,I'm not sure,403,2345,17.19
13,CHATGPT_UNDERSTAND,Underrepresented Minority,Strongly Disagree,213,2345,9.08
14,CHATGPT_UNDERSTAND,Underrepresented Minority,Strongly agree,260,2345,11.09
15,CHATGPT_UNDERSTAND,White/Other,Agree,1075,2108,51.00
16,CHATGPT_UNDERSTAND,White/Other,Disagree,386,2108,18.31
17,CHATGPT_UNDERSTAND,White/Other,I'm not sure,181,2108,8.59
18,CHATGPT_UNDERSTAND,White/Other,Strongly Disagree,119,2108,5.65
19,CHATGPT_UNDERSTAND,White/Other,Strongly agree,347,2108,16.46

### FUNCTION

In [482]:
demos = data['Demographic Category'].unique()
qid = data['Question Item Id'].unique()

rand_qid = random.choice(qid)
rand_demos = random.choice(demos)

def demospotcheck(question_stem, demo_cat): 
    demototals = data.copy()
    demototals = demototals.loc[data['Demographic Category'] == demo_cat].drop_duplicates(ignore_index = True)
    demototals = demototals[demototals['Question Item Id'].str.contains(question_stem, case=False)]
    democounts = demototals.groupby(['Question Item Id', 'Demographic Value', 'Question Response']).agg({'Count': ['sum']})
    demoitemtotal = demototals[['Question Item Id', 'Demographic Value', 'Demographic Value Total']].drop_duplicates(ignore_index = True)
    demoall = pd.merge(democounts.reset_index(), demoitemtotal, on=['Question Item Id', 'Demographic Value'], how='inner')
    demoall.rename(columns={('Question Item Id', ''): "Question Item Id", ('Demographic Value', ''): "Demographic Value", ('Question Response', ''): "Question Response", ('Count', 'sum'): "Count"}, inplace=True)
    demoall['Percentage (%)'] = ((demoall['Count'] / demoall['Demographic Value Total']) * 100).round(2)
    demoall = demoall.loc[:,~demoall.columns.duplicated()]
    print('Question Item Id:', question_stem)
    print('Demographic Category:', demo_cat) 
    return demoall

In [483]:
demospotcheck(rand_qid, rand_demos)

Question Item Id: STUDENT_ORGS_BARRIERS_1
Demographic Category: Multiple Ethnicities

/var/folders/4p/hk2kpwld0sd7079v5yqmhzv00000gn/T/ipykernel_2065/1908142277.py:13: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  demoall = pd.merge(democounts.reset_index(), demoitemtotal, on=['Question Item Id', 'Demographic Value'], how='inner')

,Question Item Id,Demographic Value,Question Response,Count,Demographic Value Total,Percentage (%)
0,STUDENT_ORGS_BARRIERS_1,African American / Black,Financial barriers (membership or joining cost...,53,267,19.85
1,STUDENT_ORGS_BARRIERS_1,American Indian / Alaska Native,Financial barriers (membership or joining cost...,32,118,27.12
2,STUDENT_ORGS_BARRIERS_1,Asian / Asian American,Financial barriers (membership or joining cost...,449,3153,14.24
3,STUDENT_ORGS_BARRIERS_1,Hispanic / Latinx,Financial barriers (membership or joining cost...,428,1577,27.14
4,STUDENT_ORGS_BARRIERS_1,International,Financial barriers (membership or joining cost...,131,959,13.66
5,STUDENT_ORGS_BARRIERS_1,No Response,Financial barriers (membership or joining cost...,87,670,12.99
6,STUDENT_ORGS_BARRIERS_1,Pacific Islander,Financial barriers (membership or joining cost...,13,48,27.08
7,STUDENT_ORGS_BARRIERS_1,Southwest Asian / North African,Financial barriers (membership or joining cost...,50,304,16.45
8,STUDENT_ORGS_BARRIERS_1,White / Caucasian,Financial barriers (membership or joining cost...,369,2224,16.59
9,STUDENT_ORGS_BARRIERS_10,African American / Black,Pressure from my academic community,26,267,9.74
10,STUDENT_ORGS_BARRIERS_10,American Indian / Alaska Native,Pressure from my academic community,16,118,13.56
11,STUDENT_ORGS_BARRIERS_10,Asian / Asian American,Pressure from my academic community,394,3153,12.50
12,STUDENT_ORGS_BARRIERS_10,Hispanic / Latinx,Pressure from my academic community,230,1577,14.58
13,STUDENT_ORGS_BARRIERS_10,International,Pressure from my academic community,126,959,13.14
14,STUDENT_ORGS_BARRIERS_10,No Response,Pressure from my academic community,80,670,11.94
15,STUDENT_ORGS_BARRIERS_10,Pacific Islander,Pressure from my academic community,7,48,14.58
16,STUDENT_ORGS_BARRIERS_10,Southwest Asian / North African,Pressure from my academic community,31,304,10.20
17,STUDENT_ORGS_BARRIERS_10,White / Caucasian,Pressure from my academic community,229,2224,10.30
18,STUDENT_ORGS_BARRIERS_11,African American / Black,Pressure from my friends or family,7,267,2.62
19,STUDENT_ORGS_BARRIERS_11,American Indian / Alaska Native,Pressure from my friends or family,11,118,9.32
20,STUDENT_ORGS_BARRIERS_11,Asian / Asian American,Pressure from my friends or family,93,3153,2.95
21,STUDENT_ORGS_BARRIERS_11,Hispanic / Latinx,Pressure from my friends or family,49,1577,3.11
22,STUDENT_ORGS_BARRIERS_11,International,Pressure from my friends or family,22,959,2.29
23,STUDENT_ORGS_BARRIERS_11,No Response,Pressure from my friends or family,15,670,2.24
24,STUDENT_ORGS_BARRIERS_11,Pacific Islander,Pressure from my friends or family,2,48,4.17
25,STUDENT_ORGS_BARRIERS_11,Southwest Asian / North African,Pressure from my friends or family,9,304,2.96
26,STUDENT_ORGS_BARRIERS_11,White / Caucasian,Pressure from my friends or family,48,2224,2.16
27,STUDENT_ORGS_BARRIERS_12,African American / Black,Other (please specify),5,267,1.87
28,STUDENT_ORGS_BARRIERS_12,American Indian / Alaska Native,Other (please specify),2,118,1.69
29,STUDENT_ORGS_BARRIERS_12,Asian / Asian American,Other (please specify),44,3153,1.40
30,STUDENT_ORGS_BARRIERS_12,Hispanic / Latinx,Other (please specify),36,1577,2.28
31,STUDENT_ORGS_BARRIERS_12,International,Other (please specify),16,959,1.67
32,STUDENT_ORGS_BARRIERS_12,No Response,Other (please specify),18,670,2.69
33,STUDENT_ORGS_BARRIERS_12,Pacific Islander,Other (please specify),1,48,2.08
34,STUDENT_ORGS_BARRIERS_12,Southwest Asian / North African,Other (please specify),9,304,2.96
35,STUDENT_ORGS_BARRIERS_12,White / Caucasian,Other (please specify),63,2224,2.83
36,STUDENT_ORGS_BARRIERS_13,African American / Black,I have not experienced any barriers,33,267,12.36
37,STUDENT_ORGS_BARRIERS_13,American Indian / Alaska Native,I have not experienced any barriers,12,118,10.17
38,STUDENT_ORGS_BARRIERS_13,Asian / Asian American,I have not experienced any barriers,267,3153,8.47
39,STUDENT_ORGS_BARRIERS_13,Hispanic / Latinx,I have not experienced any barriers,123,1577,7.80
40,STUDENT_ORGS_BARRIERS_13,International,I have not experienced any barriers,136,959,14.18
41,STUDENT_ORGS_BARRIERS_13,No Response,I have not experienced any barriers,113,670,16.87
42,STUDENT_ORGS_BARRIERS_13,Pacific Islander,I have not experienced any barriers,4,48,8.33
43,STUDENT_ORGS_BARRIERS_13,Southwest Asian / North African,I have not experienced any barriers,34,304,11.18
44,STUDENT_ORGS_BARRIERS_13,White / Caucasian,I have not experienced any barriers,240,2224,10.79